@charset "UTF-8";
.container {
  padding: 0 53px 0;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px 0;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding: 0 5px 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background-color: #141414;
}

figure {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
  color: #999;
  border: none;
  background: none;
}

input[type=search] {
  color: #fff;
}

input:focus {
  outline: none;
}

p {
  cursor: default;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/icons/fonts/icomoon.eot?f03vdt");
  src: url("../../assets/icons/fonts/icomoon.eot?f03vdt#iefix") format("embedded-opentype"), url("../../assets/icons/fonts/icomoon.ttf?f03vdt") format("truetype"), url("../../assets/icons/fonts/icomoon.woff?f03vdt") format("woff"), url("../../assets/icons/fonts/icomoon.svg?f03vdt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-media-control:before {
  content: "";
}

.icon-menu1:before {
  content: "";
}

.icon-play3:before {
  content: "";
}

.icon-volume-high:before {
  content: "";
}

.icon-volume-medium:before {
  content: "";
}

.icon-volume-low:before {
  content: "";
}

.icon-volume-mute2:before {
  content: "";
}

.icon-google2:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-fullscreen_exit:before {
  content: "";
}

.icon-fullscreen:before {
  content: "";
}

.icon-forward_10:before {
  content: "";
}

.icon-replay_10:before {
  content: "";
}

.icon-arrow_back:before {
  content: "";
}

.icon-arrow_back_ios:before {
  content: "";
}

.icon-arrow_forward_ios:before {
  content: "";
}

.icon-replay:before {
  content: "";
}

.icon-checkmark:before {
  content: "";
}

.icon-information-outline:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-chevron-thin-down:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-youtube-play:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook-official:before {
  content: "";
}

.icon-search1:before {
  content: "";
}

.header {
  width: 100%;
  height: 68px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  position: fixed;
  z-index: 2;
  background: linear-gradient(180deg, #060606 0%, #141414 100%);
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .header {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
  }
}
.header .burger-button {
  font-size: 20px;
  margin-right: 5px;
  display: none;
}
@media only screen and (max-width: 620px) {
  .header .burger-button {
    display: block;
  }
}
.header__logo, .header__logo img {
  width: 100px;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  .header__logo, .header__logo img {
    width: 80px;
    margin: 0 10px 0 0;
  }
}
@media only screen and (max-width: 620px) {
  .header__logo, .header__logo img {
    flex-grow: 1;
  }
}
.header__navbar {
  flex-grow: 1;
}
@media only screen and (max-width: 620px) {
  .header__navbar {
    top: 68px;
    right: 60%;
    bottom: 0;
    left: -100vw;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    transition: 300ms;
  }
}
@media only screen and (max-width: 425px) {
  .header__navbar {
    padding-left: 5px;
  }
}
.header__navbar ul {
  display: flex;
}
@media only screen and (max-width: 620px) {
  .header__navbar ul {
    margin: 0;
    display: initial;
  }
}
.header__navbar li {
  margin: 0 12px;
  transition: color 400ms;
}
@media only screen and (max-width: 620px) {
  .header__navbar li {
    margin: 15px 0;
  }
}
.header__navbar li:hover {
  color: #b3b3b3;
}
.header__navbar--active {
  background: #141414;
  left: 0;
}

.header > .actions-container {
  display: flex;
  align-items: center;
}
.header > .actions-container .actions-container__search {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 264px;
  height: 32px;
  border: 1px solid #ccc;
  padding: 1px 6px;
  margin-right: 25px;
}
@media only screen and (max-width: 1024px) {
  .header > .actions-container .actions-container__search {
    width: 200px;
  }
}
@media only screen and (max-width: 425px) {
  .header > .actions-container .actions-container__search {
    width: 150px;
    height: 26px;
    margin-right: 10px;
  }
}
.header > .actions-container .actions-container__search .icon-search {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 425px) {
  .header > .actions-container .actions-container__search .icon-search {
    font-size: 20px;
  }
}
.header > .actions-container .actions-container__profile-menu {
  position: relative;
}
@media only screen and (max-width: 425px) {
  .header > .actions-container .actions-container__profile-menu--profile > img {
    width: 26px;
    height: 26px;
  }
}
.header > .actions-container .actions-container__profile-menu--profile {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header > .actions-container .actions-container__profile-menu--profile > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 10px;
}
@media only screen and (max-width: 425px) {
  .header > .actions-container .actions-container__profile-menu--profile > img {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }
}
.header > .actions-container .actions-container__profile-menu--options {
  top: 45px;
  right: 0;
  left: -100px;
  position: absolute;
  display: none;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #333;
  box-sizing: content-box;
  padding: 10px 0;
}
.header > .actions-container .actions-container__profile-menu--options i {
  top: -16px;
  right: 30px;
  position: absolute;
  font-size: 20px;
  color: #e5e5e5;
}
@media only screen and (max-width: 425px) {
  .header > .actions-container .actions-container__profile-menu--options i {
    right: 20px;
    position: absolute;
  }
}
.header > .actions-container .actions-container__profile-menu--options li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
}
.header > .actions-container .actions-container__profile-menu--options li:hover {
  text-decoration: underline;
}
.header > .actions-container .actions-container__profile-menu:hover .actions-container__profile-menu--options {
  display: block;
}

.hero {
  width: 100%;
  height: 760px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 620px) {
  .hero {
    display: none;
  }
}
.hero__background {
  width: inherit;
  height: inherit;
}
.hero__content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 85%);
  border-bottom: 10px solid #1a1a1a;
}
.hero__content--left {
  top: 180px;
  position: absolute;
  width: 485px;
}
.hero__content--right {
  right: 0;
  bottom: 240px;
  position: absolute;
}

.movie-info__logo {
  width: 80%;
  object-fit: cover;
}
.movie-info__description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #fff;
  font-weight: normal;
  margin: 10px 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #141414;
  font-weight: bold;
  border: none;
  margin-right: 10px;
  padding: 7px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 125ms;
}
.button--light {
  background-color: #fff;
}
.button--light:hover {
  background-color: #cbcbcb;
}
.button--dark {
  background: rgba(133, 133, 133, 0.6);
  color: #fff;
}
.button--dark:hover {
  background-color: rgba(75, 75, 75, 0.6);
}
.button i {
  font-size: 25px;
  margin-right: 10px;
}
.button__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-info-action {
  display: flex;
  align-items: center;
}
.video-info-action .video-action {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 5px;
  margin-right: 15px;
  background-color: rgba(133, 133, 133, 0.6);
  border: solid 1px #fff;
  border-radius: 50%;
  cursor: pointer;
}
.video-info-action .video-action:hover {
  background-color: rgba(75, 75, 75, 0.6);
}
.video-info-action .age-rating {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(51, 51, 51, 0.6);
  margin: 0;
  padding: 6px 43px 6px 9px;
  border-left: 3px solid #ccc;
}

.footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  margin-top: 20px;
  padding: 0 125px;
}
.footer__icons {
  font-size: 30px;
  margin-bottom: 10px;
}
.footer__icons i {
  margin-right: 15px;
}
.footer__text, .footer__description {
  margin: 0 0 16px 0;
}
.footer__description {
  font-size: 12px;
}
.footer__text:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
