// Media Queries
@mixin screen($size, $type: max, $pixels: $breakpoint-xxs) {
  @if $size == "xxs" {
    @media only screen and(#{$type}-width: $breakpoint-xxs) {
      @content;
    }
  } @else if $size == "xs" {
    @media only screen and(#{$type}-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size == "s" {
    @media only screen and(#{$type}-width: $breakpoint-s) {
      @content;
    }
  } @else if $size == "m" {
    @media only screen and(#{$type}-width: $breakpoint-m) {
      @content;
    }
  } @else if $size == "l" {
    @media only screen and(#{$type}-width: $breakpoint-l) {
      @content;
    }
  } @else if $size == "xl" {
    @media only screen and(#{$type}-width: $breakpoint-xl) {
      @content;
    }
  } @else if $size == "custom" {
    @media only screen and (#{$type}-width: #{$pixels}px) {
      @content;
    }
  }
}

// Size, width and height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Position relative, absolute, fixed
@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number
    {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args: "") {
  @include position(absolute, $args);
}

@mixin fixed($args: "") {
  @include position(fixed, $args);
}

@mixin relative($args: "") {
  @include position(relative, $args);
}

// Font Styles
@mixin font-styles-helvetica($size, $color: null, $weight: null) {
  font-family: Helvetica, Arial, sans-serif;
  @if $size {
    font-size: $size;
    font-size: calculateRem($size);
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
}

// Flexbox align-items, justify-content
@mixin flexbox($align-item: null, $justify-content: null) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}
