// background image
%background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// buttons for play and view more info
%play-moreinfo {
  @include font-styles-helvetica(15px, $ligth, bold);
  padding: 11px 34px;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 3px;

  .icon {
    @include font-styles-helvetica(16px, inherit, bold);
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);
    background-color: #e6e6e6;
    color: #000;
  }

  &:nth-of-type(1) {
    margin-right: 5px;
  }
}

// age rating
%age-rating {
  @include absolute(right 0);
  padding: 5px 0 5px 15px;
  margin: 0;
  margin-top: -75px;
  background: rgba(51, 51, 51, 0.6);
  padding-right: 53px;
  border-left: 3px solid #dcdcdc;

}