// Abstracts
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";
@import "./abstracts/variables";

// Base
@import "./base/animations";
@import "./base/base";
@import "./base/icons";
@import "./base/typography";

// Layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/footer";

// Components
@import "./components/button";
@import "./components/movie-info";
@import "./components/trailer-info-action";
@import "./components/burger-button";
@import "./components/featured-movie";

// Pages
@import "./pages/home";
@import "./pages/my-list";
