// Abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';
@import './abstracts/placeholders';

// Base
@import './base/base';
@import './base/icons';


// Layout
@import './layout/header';
@import './layout/hero';

// Components
@import './components/carousel';
@import './components/carousel-item';
@import './components/movie-list';

// Pages