// Abstracts
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";
@import "./abstracts/variables";

// Base
@import "./base/animations";
@import "./base/base";
@import "./base/icons";
@import "./base/typography";

// Layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/footer";
@import "./layout/movies";
@import "./layout/movies-playlist";
@import "./layout/sign-in-container";

// Components
@import "./components/button";
@import "./components/movie-info";
@import "./components/trailer-info-action";
@import "./components/burger-button";
@import "./components/featured-movie";
@import "./components/carousel";
@import "./components/movie-item";
@import "./components/form";
@import "./components/input-check";
@import "./components/genres-selection";

// Pages
@import "./pages/home";
@import "./pages/my-list";
@import "./pages/not-found";
@import "./pages/sign-in";
