.header {
  background-color: $main-color;
  background: $header-background;
  height: 68px;
  display: grid;
  grid-template-columns: 92px 1fr 206px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0 53px;
  align-items: center;

  .logo {
    width: 91.5px;
    height: 25px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav .nav-list {
    display: flex;
    margin: 0;

    &__item {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .secondary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      font-size: 20px;
      cursor: pointer;
      margin-left: 10px;
    }

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      :nth-child(1) {
        font-size: 28px;
      }
      :nth-child(2) {
        font-size: $font-size;
        margin-left: 10px;
      }
    }
  }
}