.header {
  @include size(null, 68px);
  @include font-styles-helvetica(14px, null, bold);
  display: grid;
  grid-template-columns: 118px 1fr 206px;
  align-items: center;
  background-color: $main-color;
  background: $header-background;

  .logo {
    @include size(91.5px, 25px);
    img {
      @include size(100%);
    }
  }

  .nav .nav-list {
    @include flexbox();
    margin: 0;

    &__item {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .secondary-nav {
    @include flexbox(center, space-between);

    &__item {
      @include font-styles-helvetica(20px);
      cursor: pointer;
      margin-left: 10px;
    }

    span {
      cursor: pointer;
      @include flexbox(center);

      :nth-child(1) {
        @include font-styles-helvetica(28px);
      }
      :nth-child(2) {
        @include font-styles-helvetica(16px);
        margin-left: 10px;
      }
    }
  }
}