.header {
  @include screen("l") {
    @include font-styles-helvetica(0.8rem);
  }
  @include size(100%, 68px);
  @include font-styles-helvetica(0.9rem);
  @include fixed(top 0);
  z-index: 2;
  background: $background-header;
  display: flex;
  align-items: center;

  .burger-button {
    @include screen("s") {
      display: block;
    }
    font-size: 20px;
    margin-right: 5px;
    display: none;
  }

  &__logo,
  &__logo img {
    @include screen("m") {
      width: 80px;
      margin: 0 10px 0 0;
    }
    @include screen("s") {
      flex-grow: 1;
    }
    width: 100px;
    margin-right: 30px;
  }

  &__navbar {
    @include screen("s") {
      @include fixed(top 68px left -100vw bottom 0 right 60%);
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      transition: 300ms;
    }
    @include screen("xs") {
      padding-left: 5px;
    }
    flex-grow: 1;

    & ul {
      display: flex;
      @include screen("s") {
        margin: 0;
        display: initial;
      }
    }

    & li {
      @include screen("s") {
        margin: 15px 0;
      }
      margin: 0 12px;
      transition: color 400ms;
    }

    & li:hover {
      color: $gray-light;
    }

    &--active {
      background: $dark;
      left: 0;
    }
  }
}

.header > .actions-container {
  display: flex;
  align-items: center;

  .actions-container__search {
    @include screen("l") {
      width: 200px;
    }
    @include screen("xs") {
      @include size(150px, 26px);
      margin-right: 10px;
    }
    display: flex;
    align-items: center;
    background: $gray-transparent-11;
    @include size(264px, 32px);
    border: 1px solid $gray-lightest;
    padding: 1px 6px;
    margin-right: 25px;

    .icon-search {
      @include screen("xs") {
        font-size: 20px;
      }
      font-size: 25px;
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .actions-container__profile-menu {
    @include screen("xs") {
      &--profile > img {
        @include size(26px);
      }
    }
    @include relative();

    &--profile {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &--profile > img {
      @include screen("xs") {
        @include size(26px);
        margin-right: 5px;
      }
      @include size(32px);
      object-fit: cover;
      margin-right: 10px;
    }

    &--options {
      @include absolute(top 45px right 0 left -100px);
      display: none;
      margin: 0;
      background-color: $gray-transparent-13;
      border: 1px solid $gray-darker;
      box-sizing: content-box;
      padding: 10px 0;
    }

    &--options i {
      @include screen("xs") {
        @include absolute(right 20px);
      }
      @include absolute(top -16px right 30px);
      font-size: 20px;
      color: $light;
    }

    &--options li {
      @include font-styles-helvetica(0.8rem);
      padding: 5px 10px;
      cursor: pointer;
    }

    &--options li:hover {
      text-decoration: underline;
    }

    &:hover .actions-container__profile-menu--options {
      display: block;
    }
  }
}
