.header {
  @include screen("l") {
    @include font-styles-helvetica(12px);
  }
  @include screen("m") {
    grid-template-columns: 118px 1fr;
  }
  @include size(null, 68px);
  @include font-styles-helvetica(14px, null, bold);
  @include fixed(top 0 right 0 left 0);
  z-index: 1000;
  display: grid;
  grid-template-columns: 118px 1fr 206px;
  align-items: center;
  background-color: $main-color;
  background: $header-background;

  .logo {
    @include size(91.5px, 25px);
    img {
      @include size(100%);
    }
  }

  .nav .nav-list {
    @include screen("m") {
      display: none;
    }
    @include flexbox();
    margin: 0;

    &__item {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .secondary-nav {
    @include screen("m") {
      display: none;
    }
    @include flexbox(center, flex-end);

    &__item {
      @include screen("l") {
        @include font-styles-helvetica(18px);
        margin-left: 25px;
      }
      @include font-styles-helvetica(20px);
      cursor: pointer;
      margin-left: 30px;
    }

    span {
      cursor: pointer;
      @include flexbox(center);

      :nth-child(1) {
        @include screen("l") {
          @include font-styles-helvetica(26px);
        }
        @include font-styles-helvetica(28px);
      }
      :nth-child(2) {
        @include screen("l") {
          @include font-styles-helvetica(14px);
        }
        @include font-styles-helvetica(16px);
        margin-left: 10px;
      }
    }
  }
}
