.hero {
  @extend %background-image;
  @include size(null, 761px);
  @include font-styles-helvetica(19px, $ligth, normal);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/movies/harry-potter-cover.jpeg');
  border-bottom: 5px solid #111;
  text-shadow: 1px 2px 2px#000;
  padding-right: 0;

  &-movie-info {
    height: auto;
    max-height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr) / minmax(300px, 500px);
    padding-top: 86px;

    &__logo {
      @include size(90%, auto)
    }

    .button {
      @include font-styles-helvetica(15px, $ligth, bold);
      padding: 11px 34px;
      background-color: rgba(51, 51, 51, 0.4);
      border-radius: 3px;

      .icon {
        @include font-styles-helvetica(16px, inherit, bold);
        margin-right: 10px;
      }

      &:hover {
        box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);
        background-color: #e6e6e6;
        color: #000;
      }
    }
  }

  .age-rating {
    @include absolute(right 0);
    padding: 5px 0 5px 15px;
    margin: 0;
    margin-top: -75px;
    background: rgba(51, 51, 51, 0.6);
    padding-right: 53px;
    border-left: 3px solid #dcdcdc;
  }
}