.hero {
  @extend %background-image;
  @include size(null, 761px);
  @include font-styles-helvetica(19px, $ligth, normal);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/movies/harry-potter-cover.jpeg');
  border-bottom: 5px solid #111;
  text-shadow: 1px 2px 2px#000;
  padding-right: 0;

  &-movie-info {
    height: auto;
    max-height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr) / minmax(300px, 500px);
    padding-top: 86px;

    &__logo {
      @include size(90%, auto);
    }

    .button {
      @extend %play-moreinfo;
    }
  }

  .age-rating {
    @extend %age-rating;
  }
}