.carousel {
  display: flex;
  margin: 50px 0;

  &:hover &-item {
    transform: translateX(-47.5%);
  }

  &-item {
    cursor: pointer;
    flex: 0 0 19.7%;
    transition: transform 300ms ease 100ms;
    margin: 0 2px;
    position: relative;

    &:hover {
      transform: scale(1.95) !important;
    }

    &:hover ~ & {
      transform: translateX(47.5%);
    }

    &:nth-of-type(1) {
      transform-origin: left center;

      &:hover ~ .carousel-item {
        transform: translateX(95%);
      }
    }

    &__image {
      height: 137px;
      width: 100%;
      object-fit: cover;
    }

    &__contain {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-rows: 85% 15%;
      opacity: 0;

      &:hover {
        transition-delay: 300ms;
        opacity: 1;
        background: linear-gradient(0deg, rgba(20,20,20,0.6) 0%, rgba(6,6,6,0.1) 100%);
      }
    }

    &__top-container {
      display: grid;
      align-items: center;
      justify-items: start;
      align-content: flex-end;
      grid-template: repeat(3, 20px) / repeat(10, 1fr);
      padding: 0 5px;

      &:hover > .carousel-item--red {
        color: #e84d1c;
      }
    }

    &__icon-play {
      align-self: flex-end;
      font-size: 14px;
      border: 1px solid #fff;
      padding: 5px;
    }

    &__icon-list {
      border: 1px solid rgba(255, 255, 255, .5);
      align-self: flex-end;
      color: rgba(255, 255, 255, .5);
      grid-column: 10;
      font-size: 8px;
      padding: 2px;

      &:hover {
        border-color: #fff;
        color: #fff;
      }
    }

    &__title {
      @include font-styles-helvetica(14px, #e5e5e5, 700);
      margin: 0;
      grid-column: 1 / -1;
    }

    &__age-rating, &__time {
      @include font-styles-helvetica(8px, #fff, normal);
      margin: 0;
      align-self: flex-start;
    }

    &__age-rating {
      border: solid 1px rgba(255, 255, 255, 0.4);
      padding: 1px 4px;
      font-size: 8px;
    }

    &__time {
      grid-column: span 2;
      margin-top: 2px;
    }

    &__icon-play, &__icon-list {
      border-radius: 50px;
      background-color: rgba(14, 14, 14, 0.6);
    }

    &__bottom-container {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover > .carousel-item--red {
        color: #e84d1c
      }
    }

    // &:nth-of-type(5) {
    //   transform-origin: right center;

    //   &:hover .carousel-item {
    //     transform: translateX(-95%);
    //   }
    // }
  }
}