.carousel {
  display: flex;
  padding: 0 53px;
  margin: 50px 0;

  &:hover &__item {
    transform: translateX(-25%);
  }


  &__item {
    height: 100px;
    background-color: green;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;

    &:hover {
      transform: scale(1.5) !important;
    }

    &:hover ~ & {
      transform: translateX(25%);
    }
  }
}