.carousel {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none; /* Ocultar scroll */
  }

  &__title {
    @include font-styles-helvetica(19px, $light, bold);
    margin: 10px 0 12px 2px;
  }

  &__item-wrapper {
    display: flex;
  }

  &__item {
    @include screen("l") {
      flex: 0 0 24.7%;
      height: 128px;
    }
    @include screen("m") {
      flex: 0 0 32%;
      height: 127px;
    }
    @include screen("s") {
      flex: 0 0 48%;
      height: 119px;
    }
    background-color: $dark;
    height: 137px;
    flex: 0 0 19.7%;
    margin: 0 2px;
    transition: transform 400ms ease 500ms;
    transform-origin: center left;
  }
  &__item:hover ~ &__item {
    transform: translateX(40%);
  }
  &__item:hover {
    transform: scale(1.4);
  }

  &__item--original {
    @include screen("l") {
      height: 455px;
    }
    @include screen("m") {
      height: 127px;
    }
    @include screen("s") {
      height: 119px;
    }
    background-color: $dark;
    height: 488px;
  }
  &__item--original:hover {
    transform: scale(1.1);
  }
  &__item--original:hover ~ &__item--original {
    transform: translateX(10%);
  }
}
