.genres-selection {
  display: flex;
  align-items: center;

  &__container {
    @include relative();
    width: 100%;
  }

  &__genre-selected {
    @include size(110px, 25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $font-color;
    padding: 10px;
    cursor: pointer;
    background-color: $full-dark;

    p,
    i {
      font-size: 14px;
      cursor: pointer;
    }

    &:hover {
      background-color: $dark;
    }
  }

  &__genres {
    @include font-styles-helvetica(15px, $font-color, normal);
    @include absolute(top 10px);
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
    gap: 10px 30px;
    cursor: pointer;
    background: $gray-transparent-17;
    padding: 5px 10px;
    border: 1px solid $gray-transparent-1;
  }

  &__genre {
    &:hover {
      text-decoration: underline;
    }
  }
}
