.hero {
  @include screen("s") {
    display: none;
  }

  @include size(100%, 760px);
  @include relative();
  z-index: 1;

  &__background {
    @include size(inherit);
  }

  &__content {
    @include absolute(top 0 right 0 left 0 bottom 0);
    background: linear-gradient(
      77deg,
      $gray-transparent-10 0%,
      $gray-transparent-3 85%
    );
    border-bottom: 10px solid $gray-darkest;

    &--left {
      @include absolute(top 180px);
      width: 485px;
    }

    &--right {
      @include absolute(right 0 bottom 240px);
    }
  }
}

.movie-info {
  &__logo {
    width: 80%;
    object-fit: cover;
  }

  &__description {
    @include font-styles-helvetica(19px, $font-color, normal);
    margin: 10px 0 20px;
    text-shadow: 2px 2px 4px $gray-transparent-8;
  }
}

.button {
  @include font-styles-helvetica(16px, $dark, bold);
  border: none;
  margin-right: 10px;
  padding: 7px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 125ms;

  &--light {
    background-color: $font-color;

    &:hover {
      background-color: $gray-lighter;
    }
  }

  &--dark {
    background: $gray-transparent-14;
    color: $font-color;
    &:hover {
      background-color: $gray-transparent-15;
    }
  }

  i {
    font-size: 25px;
    margin-right: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.video-info-action {
  display: flex;
  align-items: center;

  .video-action {
    @include font-styles-helvetica(18px, null, normal);
    padding: 5px;
    margin-right: 15px;
    background-color: $gray-transparent-14;
    border: solid 1px $font-color;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $gray-transparent-15;
    }
  }

  .age-rating {
    @include font-styles-helvetica(14px, null, normal);
    background-color: $gray-transparent-16;
    margin: 0;
    padding: 6px 43px 6px 9px;
    border-left: 3px solid $gray-lightest;
  }
}
