.movie-big-item {
  @extend %background-image;
  @include size(calc(100vw - 106px), 475px);
  display: grid;
  grid-template: 1fr / minmax(auto, 735px) minmax(auto, 452px);
  gap: 50px;
  padding: 60px 53px 45px;
  background-image:
    linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,.95) 50%, rgba(20,20,20,1) 100%), 
    url('../../assets/images/movies/harry-potter-cover.jpeg');

  .movie-big-item__cover {
    @include relative();
    
    img {
      @include size(100%);
    }

    .age-rating {
      @extend %age-rating;
    }
  }

  .movie-big-item__details {
    display: grid;
    grid-template-rows: 2fr 100px 1fr;

    img {
      @include size(80%, auto);
      align-self: end;
    }

    .movie-big-item__button {
      @include size(100%, 50px);
      margin: 25px 0;
    }
    
    .button {
      @extend %play-moreinfo;
    }

    .movie-big-item__description {
      margin: 0;
    }
  }
}