<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body class="home">
    <article class="carousel__item movie-item">
      <!-- here can be a video or image. -->
      <img
        class="movie-item__image"
        src="../assets/images/covers/cover1.jpg"
        alt="movie-cover"
      />
      <div class="movie-item__overlay">
        <div class="movie-item__content-wrapper">
          <div class="movie-item__description">
            <button>
              <i class="icon-play3"></i>
            </button>
            <h4>Movie Title</h4>
            <p class="age-rated">13+</p>
            <p>2h 18m</p>
          </div>
          <div class="movie-item__buttons">
            <i class="icon-volume-mute2"></i>
            <i class="icon-plus"></i>
          </div>
        </div>
        <div class="movie-item__more-info-button">
          <i class="icon-chevron-thin-down"></i>
        </div>
      </div>
    </article>
  </body>
</html>
