<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix Clone</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <article class="carousel-item">
    <img class="carousel-item__image" src="../assets/images/movies/cover1.jpg" alt="">
    <div class="carousel-item__contain">
      <div class="carousel-item__top-container">
        <i class="carousel-item__icon-play icon-play carousel-item--red"></i>
        <h3 class="carousel-item__title">Some Title</h3>
        <p class="carousel-item__age-rating">13+</p>
        <p class="carousel-item__time">1h 51m</p>
        <i class="carousel-item__icon-list icon-plus"></i>
      </div>
      <div class="carousel-item__bottom-container">
        <i class="carousel-item__icon-down icon-keyboard_arrow_down carousel-item--red"></i>
      </div>
    </div>
  </article>
</body>
</html>