<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <section class="featured-movie">
      <div class="container">
        <div class="featured-movie__cover">
          <!-- here can be a video or image. -->
          <img src="../assets/images/covers/cover2.jpg" alt="movie-cover" />
          <div class="trailer-info-action">
            <i class="icon-replay trailer-action"></i>
            <p class="age-rating">13+</p>
          </div>
        </div>
        <div class="featured-movie__info movie-info">
          <img
            class="movie-info__logo"
            src="../assets/images/logos/harry-potter-logo.png"
            alt="movie logo"
          />
          <div class="movie-info__buttons">
            <button class="button button--light">
              <span class="button__content">
                <i class="icon-play3"></i>
                Play
              </span>
            </button>
            <button class="button button--dark">
              <span class="button__content">
                <i class="icon-information-outline"></i>
                More Info
              </span>
            </button>
          </div>
          <p class="movie-info__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            iusto et vero voluptates repellendus excepturi cum quisquam neque
            quae, iure optio obcaecati, illo id ad quas nemo aliquid ea
            temporibus?
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
