<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer__icons">
        <a href="https://www.linkedin.com/in/ivan-sevilla-70296b174/"
          ><i class="icon-linkedin"></i
        ></a>
        <a href="https://github.com/ivansevillaa"
          ><i class="icon-facebook-official"></i
        ></a>
        <a href="https://github.com/ivansevillaa"
          ><i class="icon-instagram"></i
        ></a>
        <a href="https://github.com/ivansevillaa"
          ><i class="icon-twitter"></i
        ></a>
        <a href="https://github.com/ivansevillaa"
          ><i class="icon-youtube-play"></i
        ></a>
      </div>
      <div class="footer__text">
        <a href="mailto:ivansevillaa@gmail.com">Contact Me</a>
      </div>
      <div class="footer__description">
        <p>All icons except for Linkedin redirect you to my GitHub profile</p>
      </div>
    </footer>
  </body>
</html>
