<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <form class="sign-in-container__form form">
      <div class="form__input-container">
        <input type="text" required />
        <label>Email</label>
      </div>
      <div class="form__input-container">
        <input type="password" required />
        <label>Password</label>
      </div>
      <button class="form__button button button--red">Sign In</button>
      <div class="form__remember-container">
        <label class="input-check">
          <span class="input-check__text">Remember me</span>
          <input class="input-check__input" type="checkbox" checked="checked" />
          <span class="input-check__checkmark"></span>
        </label>
      </div>
    </form>
  </body>
</html>
