<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <label class="input-check">
      <span class="input-check__text">Remember me</span>
      <input class="input-check__input" type="checkbox" checked="checked" />
      <span class="input-check__checkmark"></span>
    </label>
  </body>
</html>
