<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix Clone</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section class="movie-big-item container">
      <div class="movie-big-item__cover">
        <img
          src="../assets/images/movies/harry-potter-cover-2.jpg" 
          alt="movie cover"
        >
        <p class="age-rating">13+</p>
      </div>
      <div class="movie-big-item__details">
        <img
          src="../assets/images/movies/harry-potter-logo.png" 
          alt="logo movie or serie"
        >
        <span class="movie-big-item__button">
          <button class="button"><i class="icon icon-play"></i>Play</button>
          <button class="button"><i class="icon icon-information-outline"></i>More Info</button>
        </span>
        <p class="movie-big-item__description">Harry Potter, an eleven-year-old orphan, discovers that he is a wizard and is invited to study at Hogwarts. Even as he escapes a dreary life and enters a world of magic, he finds trouble awaiting him.</p>
      </div>
    </section>
</body>
</html>