<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
    <main class="movies-playlist">
      <section class="container carousel">
        <h3 class="movies-playlist__title">My List</h3>
        <div class="movies-playlist__item-wrapper">
          <!-- here is the movies -->
        </div>
      </section>
    </main>
  </body>
</html>
