body {
  @include font-styles-helvetica($font-size-base, $ligth);
  background-color: $main-color;
  margin: 0;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  padding: 0 53px 0;
  @include screen("m") {
    padding: 0 20px 0;
  }
}

.uppercase {
  text-transform: uppercase;
}
