body {
  background-color: $main-color;
  color: $ligth;
  margin: 0;
  font-size: $font-size-base;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  padding: 0 53px 0;
}