@font-face {
  font-family: "icomoon";
  src: url("../../assets/icons/fonts/icomoon.eot?f03vdt");
  src: url("../../assets/icons/fonts/icomoon.eot?f03vdt#iefix")
      format("embedded-opentype"),
    url("../../assets/icons/fonts/icomoon.ttf?f03vdt") format("truetype"),
    url("../../assets/icons/fonts/icomoon.woff?f03vdt") format("woff"),
    url("../../assets/icons/fonts/icomoon.svg?f03vdt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e917";
}
.icon-pause:before {
  content: "\e903";
}
.icon-media-control:before {
  content: "\e903";
}
.icon-menu1:before {
  content: "\e9bd";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-menu:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-fullscreen_exit:before {
  content: "\e906";
}
.icon-fullscreen:before {
  content: "\e907";
}
.icon-forward_10:before {
  content: "\e908";
}
.icon-replay_10:before {
  content: "\e909";
}
.icon-arrow_back:before {
  content: "\e90a";
}
.icon-arrow_back_ios:before {
  content: "\e90b";
}
.icon-arrow_forward_ios:before {
  content: "\e90c";
}
.icon-replay:before {
  content: "\e90d";
}
.icon-checkmark:before {
  content: "\e90e";
}
.icon-information-outline:before {
  content: "\e90f";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-cross:before {
  content: "\e912";
}
.icon-chevron-thin-down:before {
  content: "\e913";
}
.icon-triangle-up:before {
  content: "\e900";
}
.icon-triangle-down:before {
  content: "\e901";
}
.icon-youtube-play:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-facebook-official:before {
  content: "\e916";
}
.icon-search1:before {
  content: "\e902";
}
