@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/icons/fonts/icomoon.eot?f03vdt');
  src:  url('../../assets/icons/fonts/icomoon.eot?f03vdt#iefix') format('embedded-opentype'),
    url('../../assets/icons/fonts/icomoon.ttf?f03vdt') format('truetype'),
    url('../../assets/icons/fonts/icomoon.woff?f03vdt') format('woff'),
    url('../../assets/icons/fonts/icomoon.svg?f03vdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-solid-square:before {
  content: "\e900";
}
.icon-triangle-down:before {
  content: "\e901";
}
.icon-gift:before {
  content: "\e902";
}
.icon-present:before {
  content: "\e902";
}
.icon-box:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}