.home {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "hero" "movies" "footer";

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .movies {
    grid-area: movies;
  }

  .footer {
    grid-area: footer;
  }

  @include screen("s") {
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "movies" "footer";
  }
}
