.my-list {
  // display: grid;
  // grid-template-rows: 68px 1fr auto;
  // grid-template-areas: "header" "movies" "footer";

  .header {
    @include absolute();
  }

  // .movies {
  //   grid-area: movies;
  // }

  .footer {
    margin-top: 40px;
  }
}
